/* styling css */ 

body { 

    font: Arial, Helvetica, sans-serif; 
    
    } 
    
    #container { 
    
    width: 1050px; 
    
    border: 1px solid grey; 
    
    margin: 0 auto; 
    
    } 
    
    #header { 
    
    height: 100px; 
    
    padding: 10px 0; 
    
    } 
    
    #brand { 
    
    float: left; 
    
    } 
    
    h1 a{ 
    
    font-size: 50px; 
    
    font-weight: 100; 
    
    color: #861BBF; 
    
    text-decoration: none; 
    
    } 
    
    #searchbox { 
    
    float: right; 
    
    background: linear-gradient(#E4F2B9,#b7e953); 
    
    background: -webkit-linear-gradient(#E4F2B9,#b7e953); 
    
    background: -o-linear-gradient(#E4F2B9,#b7e953); 
    
    background: -moz-linear-gradient(#E4F2B9,#b7e953); 
    
    width: 400px; 
    
    height: 50px; 
    
    padding: 20px 20px 0 20px; 
    
    margin-top: 20px; 
    
    } 
    
    .text{ 
    
    float: left; 
    
    width: 200px; 
    
    padding: 5px; 
    
    font-size: 15px; 
    
    color: #e36a0c; 
    
    
    border: 1px solid #c8d03e; 
    
    } 
    
    .submit{ 
    
    float: right; 
    
    padding: 5px; 
    
    font-weight: bold; 
    
    color: white; 
    
    background: #a751d6; 
    
    font-size: 15px; 
    
    border: 1px solid #dcd5e1; 
    
    }
#menu{
    height: 70px;
    background: linear-gradient(#f8f594,#d5d533);
    background: -webkit-linear-gradient(#f8f594,#d5d533);
    background: -o-linear-gradient(#f8f594,#d5d533);
    background: -moz-linear-gradient(#f8f594,#d5d533);
    padding: 7px 0;
}
#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}
#menu ul li: :last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:  17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transform: : font-size 0.3s ease;
    -moz-transition: font

}